src/docbkx/build.properties
target/
*.bak
*.~*
.DS_Store
*.iml
.idea/
*.swp
Thumbs.db
*.xpr
src/docbkx/en/out/webhelp-feedback/ch01s01.html
*.html
*.php
*.png
*.css
*.gif
*.sql
*.js
*.txt
src/docbkx/en/out/pdf/dhis2_user_man_using_pivot_table.pdf
src/docbkx/en/out/pdf/dhis2_user_man_using_gis.pdf
