src/docbkx/en/content/bookinfo/build.properties
target/
*.bak
*.~*
.DS_Store
*.iml
.idea/
*.swp
Thumbs.db
*.xpr
src/docbkx/en/content/user_authorities/resources
src/docbkx/en/content/developer/resources
src/docbkx/en/content/android/resources
src/docbkx/en/content/bookinfo/resources
src/docbkx/en/content/import_export/resources
src/docbkx/en/content/dashboard/resources
src/docbkx/en/content/data_admin/resources
src/docbkx/en/content/mobile/resources
src/docbkx/en/content/maintenance/resources
src/docbkx/en/content/glossary/resources
src/docbkx/en/content/templates/resources
src/docbkx/en/content/metadata_sync/resources
src/docbkx/en/content/implementer/resources
src/docbkx/en/content/intro/resources
src/docbkx/en/content/ccei/resources
src/docbkx/en/content/faq/resources
src/docbkx/en/content/data_quality/resources
src/docbkx/en/content/user_stories/resources
src/docbkx/en/content/sharing/resources
src/docbkx/en/content/database_schema/resources
src/docbkx/en/content/analysis/resources
src/docbkx/en/content/resources
src/docbkx/en/content/events/resources
src/docbkx/en/content/bibliography/resources
src/docbkx/en/content/release_notes/resources
src/docbkx/en/content/user_management/resources
src/docbkx/en/content/settings/resources
src/docbkx/en/content/lost+found/resources
src/docbkx/en/content/approvals/resources
src/docbkx/en/content/data_entry/resources
src/docbkx/en/content/preface/resources
src/docbkx/en/content/profile/resources
